---
layout: pcori
---

<header>{% include pcori.html %} {% include tabs.html %}</header>
<main>
  <section id="vis">{% include vis.html%}</section>
  <section id="db" class="hidden">{% include db.html%}</section>
</main>
<script src="./public/js/d3.v5.min.js"></script>
<script src="./public/js/tab_manager.js"></script>
<script>
  // populate total_study_count areas
  async function totalStudyCount() {
    let dataset = await d3.csv('./public/data/pcori_1111--fudged.csv');
    // const ref_id = d => d.ref_id;
    // const studies = d3.map(dataset, ref_id).keys();
    // const unique_studies = new Set(studies);
    d3.selectAll('.total_study_count').html(`${dataset.length}`);
  }
  totalStudyCount();
</script>
<script src="./public/js/accordions.js"></script>
<script src="./public/js/visualization_manager.js"></script>
<script src="./public/js/database_manager.js"></script>
<script src="./public/js/reset_tool.js"></script>
