@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://rsms.me/inter/inter.css");
body { padding: 1% 0; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 300; max-width: 1200px; margin: 0 auto; }

header { margin-bottom: 1rem; }

strong { font-weight: 700; }

.hidden { display: none !important; }

.project_header { display: grid; grid-template-columns: 1fr 4fr; align-items: center; gap: 15px; color: #223e7a; }

.project_header .project_logo img { width: 100%; }

.project_header .project_title { padding-left: 15px; border-left: 2px solid #223e7a; font-size: 24px; }

.project_header .project_title .project_sub { color: #8bbe56; font-weight: 600; }

.tab_container { align-items: center; display: flex; justify-content: center; width: 100%; font-size: 20px; margin-top: 12px; }

.tab_item { text-decoration: none; flex: 1; text-align: center; padding: 4px 0 5px 0; border: 1px solid #223e7a; border-bottom-width: 3px; color: #b1b1ca; }

.tab_active { border-width: 3px; color: #223e7a; font-weight: 600; border: 3px solid #223e7a; border-bottom-color: transparent; }

.tab_spacer { border-bottom: 3px solid #223e7a; flex: 1; padding: 4px 0 6px 0; }

.reset_button { display: flex; align-items: center; }

.reset_button .reset_button_img { width: 20px; margin-right: 5px; }

.reset_button .reset_button_img img { width: 100%; }

.reset_button .reset_button_text { font-weight: 700; padding-bottom: 5px; }

.nested_dropdown { color: white; font-size: 15px; display: flex; justify-content: space-evenly; align-items: center; list-style-type: none; margin: 0; padding: 0; text-align: center; }

.nested_dropdown li { flex: 1; padding: 4px; text-align: center; position: relative; border: 1px solid white; background-color: #9f9fbe; }

.nested_dropdown ul { background-color: #e2e3e4; color: black; display: none; left: 0; position: absolute; top: 100%; list-style-type: none; margin: 0; padding: 0; width: 100%; font-size: 13px; }

.nested_dropdown ul ul { left: 100%; position: absolute; top: 0; }

.nested_dropdown ul ul li { background-color: #e2e3e4; }

.nested_dropdown ul li { background-color: #e2e3e4; }

.nested_dropdown li:hover { background-color: #7a7ca5; }

.nested_dropdown ul li:hover { background-color: rgba(0, 0, 0, 0.1); }

.nested_dropdown li:hover > ul { display: block; }

.nested_dropdown .menu_category { font-weight: 700; }

.nested_dropdown .menu_description { text-align: left; background-color: #dfebd0; font-size: 15px; }

.nested_dropdown .menu_description p { margin: 0; padding: 4px 10px; }

.nested_dropdown .menu_description:hover { background-color: #dfebd0; }

section.db_wrapper { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }

section.db_wrapper .db_title { font-weight: 700; margin: 0; padding: 0; text-transform: uppercase; }

section.db_wrapper .title_with_reset { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0; }

section.db_wrapper .db_content { padding-top: 20px; border-top: 2px solid #223e7a; max-height: 600px; overflow-x: hidden; }

section.db_wrapper .active { background-color: #7a7ca5; }

.db_filters { border-right: 2px solid #223e7a; padding-right: 20px; }

.db_filters .db_title { color: #9f9fbe; }

.db_results .db_title { color: #8bbe56; }

.filter_container { border: 1px solid white; border-bottom-color: transparent; }

.filter_container .filter_accordion { border-bottom: 1px solid white; }

.filter_container .filter_accordion .filter_category { display: flex; justify-content: space-between; border: 1px solid white; padding: 8px 10px; cursor: pointer; background-color: #9f9fbe; }

.filter_container .filter_accordion .filter_category .filter_title { flex: 1; color: white; font-weight: 700; }

.filter_container .filter_accordion .filter_category .filter_toggle { color: white; font-weight: 900; text-align: center; margin-right: 15px; }

.filter_container .filter_accordion .filter_category:hover { background-color: #7a7ca5; }

.filter_container .filter_accordion .filter_panel { padding: 15px; background-color: white; }

.filter_container .filter_accordion .filter_panel ul { columns: 2; -webkit-columns: 2; -moz-columns: 2; list-style: none; margin: 0; padding: 0; }

.filter_container .filter_accordion .filter_panel ul.short_list { columns: 1; -webkit-columns: 1; -moz-columns: 1; }

.filter_container .filter_accordion .filter_panel .filter_option { display: flex; align-items: baseline; margin-bottom: 5px; break-inside: avoid-column; page-break-inside: avoid-column; }

.filter_container .filter_accordion .filter_panel h3 { margin: 0 0 12px 0; color: #9f9fbe; }

.filter_container .filter_accordion .filter_panel h3 .small_direction { color: black; font-size: 14px; font-weight: 300; }

.filter_container .filter_accordion .filter_panel .filter_sub { border-bottom: 2px solid #9f9fbe; padding-bottom: 15px; margin-bottom: 20px; }

.subfilter_container { border: 1px solid white; border-bottom-color: transparent; padding-top: 20px; }

.subfilter_container .subfilter_accordion { border-bottom: 1px solid white; }

.subfilter_container .subfilter_accordion .subfilter_category { display: flex; justify-content: space-between; border: 1px solid #9f9fbe; padding: 8px 10px; cursor: pointer; background-color: #e7e6ed; }

.subfilter_container .subfilter_accordion .subfilter_category .subfilter_title { flex: 1; color: black; font-weight: 500; }

.subfilter_container .subfilter_accordion .subfilter_category .subfilter_toggle { color: black; font-weight: 900; text-align: center; margin-right: 15px; }

.subfilter_container .subfilter_accordion .filter_category:hover { background-color: #7a7ca5; }

.subfilter_container .subfilter_accordion .subfilter_panel { padding: 15px 10px; background-color: white; }

.subfilter_container .subfilter_accordion .subfilter_panel ul { columns: 1; -webkit-columns: 1; -moz-columns: 1; list-style: none; margin: 0; padding: 0; }

.subfilter_container .subfilter_accordion .subfilter_panel .filter_option { display: flex; align-items: baseline; margin-bottom: 5px; break-inside: avoid-column; page-break-inside: avoid-column; }

.subfilter_container .subfilter_accordion .subfilter_panel h3 { margin: 0 0 12px 0; color: #9f9fbe; }

.subfilter_container .subfilter_accordion .subfilter_panel h3 .small_direction { color: black; font-size: 14px; font-weight: 300; }

.subfilter_container .subfilter_accordion .subfilter_panel .division { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }

.results_container { display: flex; flex-direction: column; height: 100%; }

#results_box p { margin-bottom: 14px; }

.results_intro_text { font-size: 25px; height: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.results_count { font-size: 25px; }

.results_count .relevant_studies { color: #ed2224; }

.relevant_studies { padding-top: 20px; }

.relevant_studies .relevant_study_title { font-weight: 400; margin: 0 0 10px 0; }

.relevant_studies .relevant_study_count { font-weight: 700; color: #ed2224; }

.relevant_studies .relevant_criteria { font-weight: 600; }

.relevant_studies .relevant_study_list { font-size: 14px; list-style-type: none; margin: 0; padding: 0; }

.relevant_studies .relevant_study { margin-bottom: 15px; font-weight: 300; padding-right: 20px; }

.relevant_studies .relevant_study .study_title { color: #8bbe56; font-weight: 600; }

#download_studies_button { margin: 0; background-color: #9f9fbe; color: white; width: 300px; font-weight: 400; text-align: center; padding: 10px; }

.search_box { position: sticky; bottom: 0; background-color: white; height: 50px; padding-top: 25px; text-align: center; }

#disabled_search { width: 400px; }

/*# sourceMappingURL=pcori.css.map */